<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
<ul class="nav justify-content-center mt-3">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link active" aria-current="page" style="color: black;"  routerLink="/Donneespre">Données personnels</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" style="color: black;"  routerLink="/DonneesAccadem">Données accadémiques</a>
    </li>
    <li class="nav-item" routerLinkActive="active" style="background-color: rgb(28, 211, 180);">
      <a class="nav-link" style="color: black;"  routerLink="/plusInfo">Plus d'infos</a>
    </li>
</ul>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 m-2">
            <form [formGroup]="plusInfoFromGroup">
                <div class="mb-3">
                    <label class="form-label">disponibilité *</label>
                    <div class="row">
                        <span style="color: rgb(28, 211, 180);">
                            Vous déclarez être bien disponible à temps plein sur toute la durée de la formation ?
                        </span>
                        <div class="col mt-1">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="disponible" formControlName="disponible" id="disponibleoui" value="oui">
                                <label class="form-check-label" >Oui</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="disponible" formControlName="disponible" id="disponiblenon" value="non">
                                <label class="form-check-label">Non</label>
                            </div>
                        </div>    
                    </div>
                </div>
                <div class="mb-3">
                    
                    <label>Financement *</label>
                    <br>
                    <span style="color: rgb(28, 211, 180);">
                        Comment prévoyez-vous de financer vos déplacements et vos frais de vie durant la formation ?
                    </span>
                    <select class="form-select mt-1" style="background-color: #f1f3f6;" formControlName="financement">
                        <option value="">Sélectionnez l'option qui vous convient</option>
                        <option value="proche"> Aide par un proche </option>
                        <option value="eco"> Des économies </option>
                    </select>
                </div>

                <label>Ordinateur Portable *</label>
                <div class="row">
                    <span style="color: rgb(28, 211, 180);">
                        Avez-vous un ordinateur portable personnel que vous pouvez utiliser lors de la formation ? De préférence 
                        avoir une configuration minimum : Processeur i5 + 16Go de Ram + 500Go SSD.
                    </span>
                    <div class="col mt-1">
                        <div class="form-check">
                            <input class="form-check-input" formControlName="ordinateurPortaban" type="radio" id="Ordinateuroui" value="oui">
                            <label class="form-check-label">Oui</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" formControlName="ordinateurPortaban" type="radio" id="Ordinateurnon" value="non">
                            <label class="form-check-label">Non</label>
                        </div>
                    </div>    
                </div>
                <label class="form-label">Français *</label>
                    <div class="row">
                        <span style="color: rgb(28, 211, 180);">
                            Parlez-vous le Français ?
                        </span>
                        <div class="col mt-1">
                            <div class="form-check">
                                <input class="form-check-input" formControlName="langueFrancais" type="radio" id="Françaisoui" value="oui">
                                <label class="form-check-label">Oui</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" formControlName="langueFrancais" type="radio" id="Françaisnon" value="non">
                                <label class="form-check-label">Non</label>
                            </div>
                        </div>    
                    </div>
                    <label class="form-label">Anglais *</label>
                    <div class="row">
                        <span style="color: rgb(28, 211, 180);">
                            Parlez-vous l'anglais ?
                        </span>
                        <div class="col mt-1">
                            <div class="form-check">
                                <input class="form-check-input" formControlName="langueAnglais" type="radio" id="Anglaisoui" value="oui">
                                <label class="form-check-label">Oui</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" formControlName="langueAnglais" type="radio" id="Anglaisnon" value="non">
                                <label class="form-check-label">Non</label>
                            </div>
                        </div>    
                    </div>
                    <label class="form-label">Pré-Requis Coding *</label>
                    <div class="row">
                        <span style="color: rgb(28, 211, 180);">
                            Avez-vous des pré-requis en coding ?
                        </span>
                        <div class="col mt-1">
                            <div class="form-check">
                                <input class="form-check-input" formControlName="preRequisCoding" type="radio"id="Codingoui" value="oui">
                                <label class="form-check-label">Oui</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" formControlName="preRequisCoding" type="radio" id="Codingnon" value="non">
                                <label class="form-check-label">Non</label>
                            </div>
                        </div>    
                    </div>

                    <label class="form-label">Autodidacte *</label>
                    <div class="row">
                        <span style="color: rgb(28, 211, 180);">
                            Avez-vous déjà essayé d'apprendre le développement informatique par vous-même ?
                        </span>
                        <div class="col mt-1">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="autodidacte" id="autodidacteoui" value="oui">
                                <label class="form-check-label">Oui</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="autodidacte" id="autodidactenon" value="non">
                                <label class="form-check-label">Non</label>
                            </div>
                        </div>    
                    </div>

<!---->
                    <div class="mb-3">
                        <label class="form-label">Référents *</label><br>
                        <span style="color: rgb(28, 211, 180);">
                            Comment avez-vous entendu parler du programme ?
                        </span><br>
                        <div>
                        <div class="form-check form-check-inline my-1">
                            <input class="form-check-input" formControlName="referents" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label">La Presse</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="referents" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label">Ecole /Université</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="referents" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label">Facebook</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="referents" id="inlineCheckbox4" value="option4">
                            <label class="form-check-label">Instagram</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="referents" id="inlineCheckbox5" value="option5">
                            <label class="form-check-label">LinkedIn</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="referents" id="inlineCheckbox6" value="option6">
                            <label class="form-check-label">Twitter</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="referents" id="inlineCheckbox7" value="option7">
                            <label class="form-check-label">Ami(e) / Connaissance</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="referents" id="inlineCheckbox8" value="option8">
                            <label class="form-check-label">Radio</label>
                          </div>
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="referents" id="inlineCheckbox9" value="option2">
                            <label class="form-check-label">Télévision</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="referents" id="inlineCheckbox10" value="option2">
                            <label class="form-check-label">Forum Etudiant</label>
                        </div>
                        </div>
                    </div>   
                    
                    <div class="mb-3">
                        
                        <label class="form-label">Commentaire</label><br>
                        <span style="color: rgb(28, 211, 180);">
                            Laissez-nous un commentaire si vous en avez un, nous serions heureux de vous lire
                        </span>
                        <textarea class="form-control my-1" formControlName="commentaire" style="background-color: #f1f3f6;" id="commentaire" rows="3" placeholder="Ecrire un commentaire" ></textarea>
                    </div>
                    <div class="mb-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" formControlName="validCondition" type="checkbox" id="inlineCheckbox22" value="option2">
                            <label class="form-check-label"> J'accepte les Termes et les Conditions</label>
                        </div>
                    </div>
                <div>
                    <div class="d-flex justify-content-between">
                        <a class="btn border" routerLink="/Donneespre">
                            <i class="bi bi-arrow-left"></i>
                            <span class="ms-1">Précédent</span>
                            
                        </a>
                        <button class="btn border" [disabled]="!plusInfoFromGroup.valid" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <span>Términer</span>
                        </button>
                    </div>
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" *ngIf="plusInfoFromGroup.valid">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header col d-flex justify-content-center">
                                    <h5 class="modal-title" id="staticBackdropLabel" style="color: rgb(61, 217, 61);">Les informations sont bien enregistrés</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="col d-flex justify-content-center">
                                        <img src="../../../assets/images/validation.webp" class="img-fluid" alt="Image" style="height: 250px; width: 250px;">
                                      </div>
                                </div>
                                <div class="modal-footer col d-flex justify-content-center">
                                   
                                    <a class="btn border" style="background-color: greenyellow;" data-bs-toggle="modal" routerLink="/formulaire">
                                        <span>Validé</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>

