<ul class="nav justify-content-center mt-3">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link active" style="color: black;"  aria-current="page" routerLink="/Donneespre">Données personnels</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" style="color: black;"  routerLink="/DonneesAccadem">Données accadémiques</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link"style="color: black;"  routerLink="/plusInfo">Plus d'infos</a>
    </li>
</ul>
