<div class="m-5 p-2">
    <div class="container text-center milieu">
        <div class="row">
          <div class="col">
            <img src="../../assets/images/jit.PNG" class="img-fluid" alt="Image">
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <p class="lead">Bienvenue dans votre formulaire de condidature aux programmes Job In Tech en partenariat avec la 3W Academy.</p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <a class="btn btn-success" routerLink="/Donneespre">
                <span>Start</span>
                <i class="bi bi-arrow-right ms-1"></i>
            </a>
          </div>
        </div>
    </div>
</div>